/* css */




body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  width: 1240px;
  background-color: #f2f2f2;
  background-position: center;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-wrapper {
  width: 1280px;
  margin: 0 auto;
}
/* РАЗМЕРЫ ЦВЕТА ОТСТУПЫ */

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: black;
}
.main-items {
 width: 239px;
 height: 56px;
}
.site-navigation,
.button,
.catalog,
.advantages-items-one li,
.advantages-items-two li,
.advantages-items-three li,
.advantages-items-four li {
  list-style: none;
}

.site-navigation a,
.footer-social a {
  color: black;
}

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
.before-advantages h1,
.title-search-hotel,
.search-blue-button,
.footer-visit-sedona a {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.advantages h2,
.footer-copyright a {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: normal;
}

.interest-title h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.interest-title p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.title-hotel {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: bold;
}

.hotel-price,
.more-info-btn,
.booking-btn {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
.social-button {
  background-color: #81b3d2;
}

.advantages-info-four h2,
.advantages-info-two h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: black;
}
.advantages-info-one h2,
.advantages-info-three h2  {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: white;
}
.advantages-info-four span,
.advantages-info-one span,
.advantages-info-three span{
   display: block;
   text-align: center;
   padding-top: 4px;
}
.advantages-info-four p,
.advantages-info-one p,
.advantages-info-three p,
.advantages-info-two p {
  display: block;
  text-align: center;
  line-height: 1.5;
  padding-top: 4px;
  padding-right: 2px;
}
.advantages-info-four h2 {
  padding-top: 30px;
}
.advantages-info-four p {
 padding-bottom: 45px;
}
.advantages-info-one h2,
.advantages-info-three h2 {
  padding-top: 31px;
}
.advantages-info-one p,
.advantages-info-three p {
padding-bottom: 51px;
}
.advantages-svg-one h2{
  padding-right: 8px;
  padding-top: 2px;
}
.advantages-svg-two h2{
  padding-right: 20px;
  padding-top: 2px;
}
.advantages-svg-three h2{
  padding-right: 28px;
  padding-top: 2px;
}
.advantages-svg-one p{
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 70px;
}
.advantages-svg-two p{
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 70px;
}
.advantages-svg-three p{
  padding-top: 8px;
  padding-right: 35px;
  padding-bottom: 70px;
}
.advantages-svg-one img {
  padding-top: 60px;
  padding-left: 162px;
}
.advantages-svg-two img {
  padding-top: 62px;
  padding-left: 156px;
}
.advantages-svg-three img {
  padding-top: 56px;
  padding-left: 156px;
}

/* СОСТОЯНИЯ ЭЛЕМЕНТОВ */

.main-items a:hover {
  color: #81b3d2;
}

.main-items a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-items a:active {
  color: #766357;
}

.booking-btn:hover,
.title-search-hotel:hover {
  background-color: #604e43;
}

.booking-btn:focus,
.title-search-hotel:focus {
  background-color: #503e33;
}

.title-hotel:hover {
  background-color: #81b3d2;
}

.title-hotel:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.form-datetime input:hover {
  background-color: #ebebeb;
}

.form-datetime input:focus {
  background-color: #ffffff;
}

.social-button:hover,
.search-blue-button:hover,
.more-info-btn:hover {
  background-color: #669ec0;
}

.social-button:focus,
.search-blue-button:focus,
.more-info-btn:focus {
  background-color: #5496bd;
}

/* СЕТКИСЕТКИСЕТКИ */

.main-header {
  margin-bottom: 61px;
}
.main-header-logo {
  position: absolute;
  z-index: 1;
  left: 529px;
  width: 244;
}


.navigation-wrapper {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 1200px;
  height: 56px;
  margin: 0 auto;
  padding: 0 10px;
  margin-left: 40px;
}
.site-navigation{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.site-navigation a {
  display: block;
  vertical-align: middle;
}
.left-items {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  text-align:  left;
  /* margin-left: -10px; */
  padding: 15px 0px 15px 62px ;
}
.right-items {
  display: flex;
  list-style: none;
  text-align:  right;
  /* margin-right: -50px; */
  padding: 15px 82px 15px 0px;
}



.background-photo {
  position: relative;
  top: -146px;
  left: 40px;
}
.background-welcome {
  position: absolute;
  top: 132px;
  left: 410px;
}
.background-photo-bottom {
  position: absolute;
  top: 496px;
  left: 39px;
}
.before-advantages {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 40px;
  /* top: -350px; */
  width: 1220px;
  background-color: white;
}
.before-advantages h1 {
  padding-top: 42px;
  padding-right: 21px;
}
.before-advantages h2 {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 38px;
}





.main-footer {
  /* display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  height: 120px;
  width: 1200px; */
  padding: 60px 0;
}
.main-footer .footer-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 120px;
  width: 1200px;
  margin-left: 40px;
}
.footer-visit-sedona {
  width: 136px;
  margin: 0;
  margin-left: 132px;
  margin-right: 256px;
}
.footer-copyright {
  width: 197px;
  margin: 0;
  margin-left: auto;
}
.footer-social {
  width: 150px;
  text-align: center;
}


 .advantages {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 0;
  top: -383px;
}

 .advantages-items-main {
  height: 256px;
  overflow: hidden;
}
.advantages-items-one {
  display: flex;
  width: 1220px;
  margin-left: 40px;
  padding: 0;
}
.advantages-info-one {
  /* flex-basis: content; */
  width: 400px;
  color: white;
  background-color: #81b3d2;
}
.advantages-items-two {
  display: flex;
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 1220px;
}
.advantages-info-two {
  width: 420px;
  color: black;
  background-color: white;
}
.advantages-items-three {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  width: 1240px;
  margin-left: 20px;
  /* margin-top: -14px; */
  padding: 0;
}
.advantages-info-three {
  width: 420px;
  color: white;
  background-color: #81b3d2;
}
.advantages-items-four {
  display: flex;
  margin-left: 40px;
  margin-top: 0;
  padding: 0;
  width: 1220px;
}
.advantages-info-four {
  width: 420px;
  color: black;
  background-color: #eeeeee;
}

.advantages-picture-one {
  /* margin-top: -360px; */
}
.advantages-picture-two {
  margin-left: 20px;
}
.interest-title {
  display: block;
  width: 1220px;
  height: 292px;
  background-color: white;
  margin-left: 40px;
  margin-top: -425px;
  text-align: center;
  vertical-align: middle;
}
.interest-title h2 {
  padding-top: 52px;
  padding-right: 20px;
}
.interest-title p {
  padding-right: 23px;
}

.search-datetime {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 568px;
  /* padding-left: 55px; */
  /* height: 481px; */
}
.title-search-hotel {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: white;
}
.search-blue-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: white;
  text-align: center;
}
.form-datetime input {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
}
.form-datetime {
  margin-bottom: 30px;
  margin-left: 55px;
}



/* inner.html */
.catalog {
  display: flex;
  flex-direction: column;
}
.catalog-items {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.catalog-items-block {
  margin-left: 72px;
  margin-bottom: 31px;
}
